<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="uni.Properties.Settings.universidadesConnectionString"
            connectionString="Data Source=BRAYAN;Initial Catalog=universidades;Persist Security Info=True;User ID=user;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>